fieldset {
    border: 0;
    margin: 1px 0;
}

.blueFS {
    background-color: slateblue;
}

.magentaFS {
    background-color: darkmagenta;
}

.crimsonFS {
    background-color: crimson;
}

.marginLeft5em {
    margin-left: 5rem;
}